@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 45px;
  font-style: normal;
}





/* default style  */


*{
  margin: 0px;
}

.container{
  width: 90%;
  margin: 5rem auto;        /* (1 rem=16px) */  
  border-radius: 1rem;

}
.h3{
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  line-height: normal;
}

p,
li{
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}


.span{
  color: #FF5400;
}



/* navbar */
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  width: 180px;
}

.logo img{
  width: 48px;
  height: 56px;
  margin-right: 0.5rem;
}
.nav-optation{
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.nav-optation p{
  cursor: pointer;
}
/* banner */
  .explore-your-travel{
    background-image: url(./Images/1st.png);
    background-repeat: no-repeat;
    padding: 7rem;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
   
    

  }


  .explore-container h3{
    color: white;
    font-size: 4rem;
    font-weight: 800px;
    text-align: center;
    justify-content: center;
    
   
  }

  .explore-container p{
    color: white;
    font-size: 18px;
    line-height: 26px;
    width: 767px;
    padding: 1.5rem 0;
    margin:auto;
  }

  .travel-input{
    margin: 2rem;
    border: 8px;
    background-color: rgba(173, 192, 192,0.4);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;

  }

  input, 
  select{
    width: 175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }


  .btn-primary{
    width: 175px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.7rem 1.2rem;
    gap: 8px;
    background-color: #FF5400;
    color: rgb(204, 221, 229);
    border-radius: 8px;
    border: 1px solid #FF5400;
    cursor: pointer;
    
    
   
  }